@import "tailwindcss";

@theme {
  /* Fuentes */
  --font-in-playfair: var(--font-in-playfair);
  --font-in-poppins: var(--font-in-poppins);

  /* <Colores */
  --color-in-pink: #FFECE3;
  --color-in-title-base: #2C2C2C;
  --color-in-brown: #762B06;
  --color-in-brown-light: #AF673E;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none
}

* {
  scrollbar-width: none;     /* Firefox */
}

@keyframes suave-latido {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-suave-latido {
  animation: suave-latido 2.5s ease-in-out infinite;
}


body {
  @apply font-in-poppins
}

